*{
	font-family: 'Merriweather', serif;
	box-sizing: border-box;
}
header{
	text-align: center;
	color: white;
	background-color:#020c2b;
	font-size: .7em;
}

body{
	background: mintcream;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 0;
}
main{
	text-align: center;
}
.h1{
	text-align: center;
	font-size: 0.5em;
}
.p-1{
	text-align: center;
	color:gray;
	border-bottom: 10px double #000;
	padding-bottom: 20px;
	
}
.form{
	display: flex;
}
.line{
	border-top: 3px solid #000;
	width: 100%;
	padding-top: 40px;
}

legend{
	text-align: left;
	font-weight: bold;
	font-size: 1.2em;
	padding: 10px;
}
fieldset{
	display: flex;
	flex-direction: column;
	border: none;
}
form{
	min-width: 95%;
    margin: 10px auto;
    padding: 20px 0px;

}
label{
	text-align: left;
	color: gray;
	padding: 7px;

}
.placeholder{
	text-align: left;
}

input[type=text],.placeholder{
  width: 100%;
  text-align: right;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: #f7f9fa;
  }
input[type=email], .placeholder {
  width: 100%;
  text-align: right;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: #f7f9fa;
  
}
input[type=tel], select {
  width: 100%;
  text-align: left;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: #f7f9fa;
 
  }
  input[type=number],code{
  text-align: left;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: #f7f9fa;
}
.border{
	border-top: 3px solid;
}
.p-2{
	text-align: left;
	color: gray;
	font-size: 1.1em;
}
.p-3{
	text-align:left;
	color: gray;
	font-size: 1.1em;
}

.p-4{
	text-align:left;
	color: gray;
	font-size: 1.1em;
	padding:5px;

}

.check-radio{
	text-align: left;
	line-height: 2.2;
}
textarea{
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: #f7f9fa;
	width: 100%;
	border-radius: 5px;
	padding: 10px;
}
button{
    width: 90%;
    height: 50px;
    border: none;
    color: white;
    margin-left: auto;
		margin-right: auto;
    font-size: 1.2em;
    background-color: rgb(78,187,181);
    border-radius: 5px;
}
footer{
	text-align: center;
	padding: 20px;
	color: gray;
}
.info{
	text-align: left;
	display: flex;
	flex-direction: column;
}
input:focus,
textarea:focus,
select:focus {
  background-color: lightgoldenrodyellow;
  }
@media(min-width: 768px){

	body{
		display: flex;
		align-items: center;
		width: 100%;
	}
	header{
width: 100%;

	}
	.h1{
		padding-top: 40px;
		font-size: .7em;
	}
	.p-1{
		padding-bottom: 25px;
		font-size: .9em;
}
input[type=number], code{
  width: 18%;
  text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 8px -6px;
}
.label{
	width: 35%;
}

.info{
	text-align: left;
  display: flex;
  flex-direction: row;

}
input.con-info select{
	width: 35%;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
#con{
	text-align: left;
	margin-left: -5px;
	padding-bottom: 15px;
}
input[type=text],.placeholder{
  width: 70%;
}
input[type=email], .placeholder {
  width: 70%;
  }
  input[type=tel], .placeholder {
  width: 70%;
  }
  select[id="state"]{
  	width: 70%;
  }
}